
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .row.content {height: 450px}
    
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
.main {
    margin-top:20px
}

.wrapper {    
  margin-top: 80px;
  margin-bottom: 20px;
}

th {
    min-width: 80px !important;
    cursor:pointer;
}
footer{
  background-color: #222;
  text-align: center;
}
.panel-body {
    padding: 0 15px;
}
.table{ margin-bottom: 0}